@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap");

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: black;
  font-family: "Poppins";
}
* {
  margin: 0;
  padding: 0;
}
.uppercon {
  padding: 20px 20px;
}
h1 {
  color: white;
  padding-bottom: 20px;
}
h2 {
  color: white;
  padding: 10px 0;
}
.firstfilter {
  display: flex;
  gap: 20px;
}
.timestampdiv {
  display: flex;
  gap: 20px;
}
.selcol {
  padding: 5px 8px;
}
.inputsearch {
  padding: 4.5px 7px;
}
.selected-column {
  background-color: rgb(252, 127, 127);
  color: black;
}

button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}
.searchbtn {
  margin: 30px 0 30px 0;
  border-radius: 25px;
  font-size: 25px;
  background-color: red;
  color: white;
  padding: 10px 20px;
}
.tableD {
  color: white;
  width: 100%;
  font-size: 12px;
}

.tableheading,
.tabledata {
  word-wrap: break-word;
  max-width: 150px;
  width: auto;
  overflow: visible;
}
.tabledata {
  padding: 0 5px;
}

.herocon {
  background-color: white;
  height: 100vh;
}
.herocontent {
  text-align: center;
  padding: 15% 0;
}
.headline {
  font-size: 50px;
  text-transform: uppercase;
}
.herobtn {
  font-size: 30px;
  padding: 20px 40px;
  margin-top: 20px;
}
.herobtn:hover {
  background-color: black;
  color: white;
}
